<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Network Configurator"
    Manufacturer="shanksyko"
    Version="$(var.AppVersion)"
    UpgradeCode="E797C1E5-406E-4132-A07C-2D7A1F4E2B16"
    InstallerVersion="500"
    Scope="perMachine"
    Compressed="yes"
  >
    <SummaryInformation
      Description="Instalador do Network Configurator"
      Manufacturer="shanksyko"
    />

    <MajorUpgrade DowngradeErrorMessage="Ja existe uma versao mais recente do Network Configurator instalada." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Network Configurator" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Network Configurator" />
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="NETCONFIGURATORDATAFOLDER" Name="network-configurator">
        <Directory Id="SECURELOGSFOLDER" Name="secure-logs" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Network Configurator" Level="1">
      <ComponentRef Id="NetworkConfiguratorExecutableComponent" />
      <ComponentRef Id="NetworkConfiguratorMachineStateComponent" />
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component
        Id="NetworkConfiguratorExecutableComponent"
        Bitness="always64"
        Guid="*"
      >
        <File
          Id="NetworkConfiguratorExecutable"
          Source="$(var.PublishedExePath)"
          KeyPath="yes"
          Checksum="yes"
        >
          <Shortcut
            Id="NetworkConfiguratorStartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="Network Configurator"
            Advertise="yes"
          />
          <Shortcut
            Id="NetworkConfiguratorDesktopShortcut"
            Directory="DesktopFolder"
            Name="Network Configurator"
            Advertise="yes"
          />
        </File>

        <RemoveFolder
          Id="RemoveApplicationProgramsFolder"
          Directory="ApplicationProgramsFolder"
          On="uninstall"
        />
        <RemoveFolder
          Id="RemoveInstallFolder"
          Directory="INSTALLFOLDER"
          On="uninstall"
        />

        <ServiceInstall
          Id="NetworkConfiguratorServiceInstall"
          Name="NetworkConfigurator"
          DisplayName="Network Configurator"
          Description="Servico do Network Configurator para aplicar configuracoes de IP sem exigir elevacao na interface."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Vital="yes"
          Arguments="--service"
        />

        <ServiceControl
          Id="NetworkConfiguratorServiceControl"
          Name="NetworkConfigurator"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes"
        />
      </Component>

      <Component
        Id="NetworkConfiguratorMachineStateComponent"
        Bitness="always64"
        Guid="*"
      >
        <RegistryValue
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="Network-Configurator"
          Type="string"
          Value='"[INSTALLFOLDER]network-configurator.exe" --background'
          KeyPath="yes"
        />

        <RemoveFile
          Id="RemoveNetConfiguratorDataFiles"
          Directory="NETCONFIGURATORDATAFOLDER"
          Name="*"
          On="uninstall"
        />
        <RemoveFile
          Id="RemoveNetConfiguratorSecureLogFiles"
          Directory="SECURELOGSFOLDER"
          Name="*"
          On="uninstall"
        />
        <RemoveFolder
          Id="RemoveSecureLogsFolder"
          Directory="SECURELOGSFOLDER"
          On="uninstall"
        />
        <RemoveFolder
          Id="RemoveNetConfiguratorDataFolder"
          Directory="NETCONFIGURATORDATAFOLDER"
          On="uninstall"
        />
      </Component>
    </DirectoryRef>
  </Package>
</Wix>;
